.Login {
  position: relative;
  height: 244px;
  width: 100%;
  text-align: left;
}

.Login label {
  display: block;
  font-size: 14px;
  font-weight: bold;
}

.Login label:first-child {
  padding-top: 20px;
}

.Login input {
  margin: 8px 0 40px 0;
  height: 24px;
  width: 100%;
  border: 1px solid #637280;
  border-radius: 2px;
  box-sizing: border-box;
}

.Login input:focus {
  border-width: 2px;
  border-color: #86592d;
}

.Wrapper {
  display: inline-block;
  margin: 10px 0 20px 0;
  height: 16px;
  width: 100%;
  cursor: pointer;
}

.Button {
  margin: 0;
  padding: 5px 10px;
  height: 16px;
  background-color: #86592d;
  border: 1px solid #4d3319;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  text-align: center;
}

.Button span {
  display: inline-block;
  margin-top: -10px;
  vertical-align: middle;
}

.Wrapper span {
  color: #fff;
  font-weight: bold;
}

.Button:hover {
  background-color: #604020;
  text-shadow: none;
  transition: all 0.2s ease-out;
}

.Spinner {
  position: absolute;
  top: 71px;
  left: -33px;
  width: 100%;
  text-align: center;
}

.LoginMsg {
  position: absolute;
  top: 131px;
  width: 100%;
  text-align: center;
}
